{% extends 'base.html' %}

{% block title %}{% block dashboard_title %}{% endblock %}{% endblock %}

{% block content %}
<div class="dashboard-container container">
  <aside class="dashboard-sidebar">
    <nav>
      <ul>
        <li class="{% if active_tab == 'tasks' %}active{% endif %}"><a href="{% url 'accounts:dashboard' %}">Задачи</a></li>
        <li class="{% if active_tab == 'subjects' %}active{% endif %}"><a href="{% url 'accounts:dashboard-subjects' %}">Предметы</a></li>
        <li class="{% if active_tab == 'courses' %}active{% endif %}"><a href="{% url 'accounts:dashboard-courses' %}">Курсы</a></li>
        <li class="{% if active_tab == 'settings' %}active{% endif %}"><a href="{% url 'accounts:dashboard-settings' %}">Настройки</a></li>
      </ul>
    </nav>
  </aside>
  <section class="dashboard-content">
    {% block dashboard_content %}{% endblock %}
  </section>
</div>
{% endblock %}
