{% extends 'accounts/dashboard/base.html' %}
{% load i18n %}

{% block dashboard_title %}{% trans "Настройки" %}{% endblock %}

{% block dashboard_content %}
<h1>{% trans "Настройки" %}</h1>
{% if request.user.teacherprofile and request.user.studentprofile %}
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="id_role">{% trans "Режим кабинета" %}</label>
        <select name="role" id="id_role">
            <option value="student" {% if role == 'student' %}selected{% endif %}>{% trans "Ученик" %}</option>
            <option value="teacher" {% if role == 'teacher' %}selected{% endif %}>{% trans "Учитель" %}</option>
        </select>
    </div>
    <button type="submit" name="role_submit" class="btn">{% trans "Сменить режим" %}</button>
</form>
{% endif %}
<form method="post">
    {% csrf_token %}
    {{ u_form.non_field_errors }}
    {% for field in u_form %}
        <div class="mb-3">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
                <div class="errorlist">{{ field.errors }}</div>
            {% endif %}
        </div>
    {% endfor %}
    <button type="submit" name="user_submit" class="btn">{% trans "Сохранить изменения" %}</button>
</form>
<form method="post">
    {% csrf_token %}
    {{ p_form.non_field_errors }}
    {% for field in p_form %}
        <div class="mb-3">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
                <div class="errorlist">{{ field.errors }}</div>
            {% endif %}
        </div>
    {% endfor %}
    <button type="submit" name="password_submit" class="btn">{% trans "Изменить пароль" %}</button>
</form>
{% endblock %}
