# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# Environment variables
.env
.env.*

# Django
*.log
*.pot
*.mo
*.sqlite3
*.db

staticfiles/
media/

# Packaging
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Testing / cache
.pytest_cache/
.coverage
htmlcov/

# Misc
*.swp
*.bak
