{% load i18n %}
<section id="about" class="section">
  <div class="container">
    <div class="block block--futuristic">
      <h3 class="section-title">{% trans "Записаться на занятия" %}</h3>
      <h2 class="subjects-title">{% trans "ФИЗИКА | МАТЕМАТИКА | ИНФОРМАТИКА | ВПР | ОГЭ | ЕГЭ" %}</h2>
      <h3 class="signup-prompt">{% trans "заполните заявку ниже 👇" %}</h3>
      <form action="{% url 'applications:apply' %}" method="post" class="signup-form">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="card">
          <div class="grid">
            <div>
              <select name="{{ form.grade.html_name }}" id="{{ form.grade.id_for_label }}">
                <option value="" selected disabled>{% trans "выберите класс" %}</option>
                {% for value, label in form.fields.grade.choices %}
                  <option value="{{ value }}" {% if form.grade.value|stringformat:'s' == value|stringformat:'s' %}selected{% endif %}>{{ label }}</option>
                {% endfor %}
              </select>
              {{ form.grade.errors }}
            </div>
            <div>
              <select name="{{ form.subject1.html_name }}" id="{{ form.subject1.id_for_label }}">
                <option value="" selected disabled>{% trans "выберите предмет" %}</option>
                {% for subject in form.fields.subject1.queryset %}
                  <option value="{{ subject.pk }}" {% if form.subject1.value|stringformat:'s' == subject.pk|stringformat:'s' %}selected{% endif %}>{{ subject.name }}</option>
                {% endfor %}
              </select>
              {{ form.subject1.errors }}
            </div>
            <div>
              <select name="{{ form.subject2.html_name }}" id="{{ form.subject2.id_for_label }}">
                <option value="" selected disabled>{% trans "выберите второй предмет" %}</option>
                {% for subject in form.fields.subject2.queryset %}
                  <option value="{{ subject.pk }}" {% if form.subject2.value|stringformat:'s' == subject.pk|stringformat:'s' %}selected{% endif %}>{{ subject.name }}</option>
                {% endfor %}
                <option value="">{% trans "- не нужен -" %}</option>
              </select>
              {{ form.subject2.errors }}
            </div>
            <div>
              <select name="{{ form.lesson_type.html_name }}" id="{{ form.lesson_type.id_for_label }}">
                <option value="" selected disabled>{% trans "выберите тип занятий" %}</option>
                {% for value, label in form.fields.lesson_type.choices %}
                  <option value="{{ value }}" {% if form.lesson_type.value|stringformat:'s' == value|stringformat:'s' %}selected{% endif %}>{{ label }}</option>
                {% endfor %}
              </select>
              {{ form.lesson_type.errors }}
            </div>
          </div>
          <p>
            {{ form.contact_info }}
            {{ form.contact_info.errors }}
          </p>
          <p>
            {{ form.contact_name }}
            {{ form.contact_name.errors }}
          </p>
          <div class="application-price">
            <p>занятия в группе: 3 000 ₽/мес</p>
            <p>занятия индивидуальные: 2 000 ₽/60 минут</p>
          </div>
        </div>
        <button type="submit" class="btn btn-large accent">{% trans "Отправить заявку" %}</button>
        
      </form>
    </div>
  </div>
</section>
