{% load i18n %}
<section class="section">
  <div class="container">
    <div class="block reviews-block">
        <h3 class="section-title">{% trans "Отзывы" %}</h3>
      <div class="testimonials">
          <div class="quote">{% blocktrans trimmed %}«Виктор, спасибо Вам огромное!!! Я вообще в шоке!!! Я Вам бесконечно благодарен!!!».<br><strong>— Дмитрий, 100 баллов на ЕГЭ по информатике</strong>{% endblocktrans %}</div>
          <div class="quote">{% blocktrans trimmed %}«Было относительно просто, если честно. Вполне себе мог получить 100 баллов, но у меня 99. Тоже неплохо, думаю».<br><strong>— Матвей, 99 баллов на ЕГЭ по математике</strong>{% endblocktrans %}</div>
          <div class="quote">{% blocktrans trimmed %}«Сдал ЕГЭ на высочайший балл, после чего знаний хватило на то, чтобы самостоятельно подготовиться к ДВИ МГУ по физике на 90+».<br><strong>— Андрей, 97 баллов на ЕГЭ по физике</strong>{% endblocktrans %}</div>
      </div>
    </div>
  </div>
</section>
