{% extends "base.html" %}

{% block content %}
  <h1>Заявка на обучение</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Отправить заявку</button>
    <p class="application-price">
      <span class="price-old">
        {{ application_price.original }} ₽/мес
      </span>
      <span class="price-new">
        {{ application_price.current }} ₽/мес
      </span>
      <span class="price-note">
        {% if subjects_count >= 2 %}за два предмета {% endif %}
        {% if application_price.promo_until %}
          при записи до {{ application_price.promo_until|date:"j E" }}
        {% endif %}
      </span>
    </p>
  </form>
{% endblock %}
