{% extends "base.html" %}

{% block content %}
  <h1>Заявка на обучение</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Записаться</button>
    {% if application_price %}
      <div class="application-price">
        {% if application_price.old %}
          <span class="price-old">{{ application_price.old }}</span>
        {% endif %}
        <span class="price-new">{{ application_price.new }}</span>
        {% if application_price.note %}
          <div class="price-note">{{ application_price.note }}</div>
        {% endif %}
      </div>
    {% endif %}
  </form>
{% endblock %}
